// Here you can add other styles

.bg-white {
  background: #ffffff;
}

.no-top-padding {
  padding-top: 0 !important;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.mt-25 {
  margin-top: 25px;
}

.mt-15 {
  margin-top: 15px;
}

.pl-25 {
  padding-left: 25px;
}

.text-monospace {
  font-family: monospace;
}

.text-black {
  color: #000000;
}

.text-white {
  color: #FFFFFF;
}

.dark-theme {
  background-color: #b7b7b7;
}
